@model List<FE_MVC.Areas.Admin.Controllers.Category>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Categories</h2>
    @if (Model != null)
    {
        <ul>
            @foreach (var category in Model)
            {
                <li>@category.CategoryName</li>
            }
        </ul>
    }
    else
    {
        @Html.Raw("<div>No categories found.</div>")
    }

    <a href="@Url.Action("Create", "Category")">Create Category</a>
</body>
</html>