@model List<FE_MVC.Areas.Admin.Controllers.Category>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Category Management</h1>
    <div>
        <input type="text" id="categoryName" placeholder="Category Name">
        <button onclick="addCategory()">Add Category</button>
    </div>

    <ul id="categoryList"></ul>
    @*<ul>
        @foreach (var category in Model)
        {
            <li>
                @category.CategoryName
                <a href="#" class="edit-category" data-id="@category.CategoryID">Edit</a>
                <a href="#" class="delete-category" data-id="@category.CategoryID">Delete</a>
            </li>
        }
    </ul>*@

    <script>
        $(document).ready(function () {
            loadCategories();

            //$('.edit-category').click(function (e) {
            $(document).on('click', '.edit-category', function (e) {
                e.preventDefault();
                var categoryId = $(this).data('id');
                var newName = prompt('Enter new category name:');
                if (newName) {
                    updateCategory(categoryId, newName);
                }
            });

            /*$('.delete-category').click(function (e) {*/
            $(document).on('click', '.delete-category', function (e) {
                e.preventDefault();
                var categoryId = $(this).data('id');
                if (confirm('Are you sure you want to delete this category?')) {
                    deleteCategory(categoryId);
                }
            });
        });

        function updateCategory(categoryId, newName) {
            $.ajax({
                url: 'http://localhost:44369/api/categories/' + categoryId,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({ categoryName: newName }),
                success: function (response) {
                    alert('Category updated successfully');
                    loadCategories();
                },
                error: function (xhr, status, error) {
                    alert('Error updating category');
                }
            });
        }

        function deleteCategory(categoryId) {
            $.ajax({
                url: 'http://localhost:44369/api/categories/' + categoryId,
                type: 'DELETE',
                success: function (response) {
                    alert('Category deleted successfully');
                    loadCategories();
                },
                error: function (xhr, status, error) {
                    alert('Error deleting category');
                }
            });
        }


        function addCategory() {
            
            var cn = $('#categoryName').val();
            var dt = JSON.stringify({ categoryName: cn });
            $.ajax({
                url: 'http://localhost:44369/api/categories',
                type: 'POST',
                contentType: 'application/json',
                data: dt,
                success: function (response) {
                    alert('Category added successfully');
                    $('#categoryName').val('');
                    loadCategories();
                },
                error: function (xhr, status, error) {
                    alert('Error adding category');
                }
            });
        }


        


        function loadCategories() {
            $.ajax({
                url: 'http://localhost:44369/api/categories',
                type: 'GET',
                success: function (categories) {
                    $('#categoryList').empty();
                    categories.forEach(function (category) {
                        $('#categoryList').append('<li>' + category.CategoryName + ' <a href="#" class="edit-category" data-id="' + category.CategoryID + '">Edit</a> <a href="#" class="delete-category" data-id="' + category.CategoryID + '">Delete</a></li>');
                        });
                },
                error: function (xhr, status, error) {
                    alert('Error loading categories');
                }
            });
        }


        $(document).ready(function () {
            loadCategories();
        });
    </script>
</body>

</html>